.svn
.svn*
.idea
 /.svn/*
.svn/format
*.svn-base
*.svn-base
.svn/entries
.svn/format
*.svn-base*
.svn.db
*.db
.svn/format
.svn/entries
.filelist.txt
.svn/*.db
.idea/workspace.xml
.idea*
.svn/entries
.svn/entries
.svn/wc.db
.idea/workspace.xml
.svn/wc.db
.svn/wc.db
