<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6916013433226" version="0.0.1"> 
  <name>APICloud Demo App</name>  
  <description>Example For APICloud.</description>  
  <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>  
  <content src="html/login_frame.html"/>  
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="false"/>  
  <preference name="vScrollBarEnabled" value="false"/>  
  <preference name="autoLaunch" value="false"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="true"/>  
  <preference name="debug" value="true"/>  
  <preference name="iOS7StatusBarAppearance" value="true"/>  
  <permission name="readPhoneState"/>  
  <permission name="camera"/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>  
  <access origin="*"/>  
  <feature name="bMap"> 
    <param name="android_api_key" value="sQYbYRME8GPOFeBWd14MgCU6B9efkMwp"/>  
    <param name="ios_api_key" value="mp6grFBYXiCpCosU2nzKlSckgZzRBeSC"/> 
  </feature>  
  <feature name="openIM"> 
    <param name="AppKey_Android" value="ccb7505ae12b9523da89333552342155"/>  
    <param name="AppKey_iOS" value="24652423"/>  
    <param name="PushCertName" value="20171013test"/> 
  </feature>  
  <feature name="wx"> 
    <param name="urlScheme" value="wx83cdf30eb0c59c19"/>
    <param name="apiKey" value="wx83cdf30eb0c59c19"/>
    <param name="apiSecret" value="81c0697c2fcbf5f025642ac938e23c1b"/>
  </feature> 
</widget>
